* {box-sizing: border-box;
}

body {  
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f61297;
    }

.container { 
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 90vh;
    width: 90vh; */
    }

/* left controller */

.leftcontroller {
    height:25em;
    width: 10em;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 6em 0 0 6em;
}

.leftbutton {
    width: 1.7em;
    height: 0.5em;
    background-color: black;
    margin-top: 10%;
    margin-left: 75%;
}
.leftstick{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-left: 30%;
    height: 4em;
    width: 4em;
    border-radius: 100%;
    background-color: #414b4d;
    border-color: rgb(27, 25, 25);
    border-style: solid;
    border-width: 0.6em;
    box-shadow: 0.4em 0.4em 0.8em black;
}
/* .circle {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: rgb(221, 238, 29);
} */

.directionalbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10% ;
    height: 30%;
}

.middlecircles{
    display: flex;
    justify-content:space-around;
    width: 80%;
}

.yellowcircle {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: rgb(221, 238, 29);
    box-shadow: 0.1em 0.1em 0.5em rgb(216, 216, 16);
}

.redcircle {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: rgb(251, 54, 5);
    border-color: rgb(250, 4, 4);
    /* border-style: solid;
    border-width: 0.25em; */
    box-shadow: 0.1em 0.1em 0.5em rgb(252, 6, 6);
}

.greencircle {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: rgb(78, 199, 181);
    box-shadow: 0.1em 0.1em 0.5em rgb(53, 229, 168);
}
.bluecircle {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: rgb(16, 19, 163);
    box-shadow: 0.1em 0.1em 0.5em rgb(34, 73, 108);
}

.toparrow {
    height: 0;
    width: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1em solid rgb(242, 247, 107);
    margin-top: 20%;
    margin-left: 25%;
    }

.leftarrow {
    height: 0;
    width: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1em solid rgb(238, 76, 76);
    transform: rotate(270deg);
    margin-top: 25%;
    margin-left:15%;
    }

.rightarrow {
    height: 0;
    width: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1em solid rgb(84, 219, 210);
    transform: rotate(90deg);
    margin-top: 25%;
    margin-left: 35%;
    }

.bottomarrow {
    height: 0;
    width: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1em solid rgb(43, 77, 131);
    transform: rotate(180deg);
    margin-top: 35%;
    margin-left: 25%;
    }

.capturebutton {
    margin-top: 10%;
    margin-left: 60%;
    height: 2.5em;
    width: 2.5em;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    background-color: #414b4d;
    box-shadow: 0em 0.1em 0.2em rgba(2, 2, 2, 0.6);
}
.capturecircle{
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: black;
    /* align-items:center; */
    /* justify-content: center; */
    margin-top: 11%;
    margin-left: 11%;
}

/* screen */
.screen 
    {
    height:25em;
    width: 45em;
    background-color: #181718;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenborder {
    height: 90%;
    width: 90%;
    background-color: black;
}

.gamearea { 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    background-image: url(img/Nintendo_Switch_central_Logo.jpg);
}

.rightcontroller{
    height:25em;
    width: 10em;
    background-color: aliceblue;
    display: flex;
    /* flex-direction: column; */
    border-radius: 0 6em 6em 0;

}

